body {
    margin: 0;
    padding: 0;
}

button {
    transition: 250ms;
    cursor: pointer;
}

button:hover {
    filter: brightness(150%);
}

body .app {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 4rem;
}

header h1 {
    font-size: 1.8rem;
    color: white;
    text-shadow: 3px 3px 3px #111;
}

header {
    background-color: rgb(0, 69, 134);
    width: 100%;
}

header>div {
    padding: 0 5rem;

    display: flex;
    place-content: space-between;
    place-items: center;
}

header ul {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 5rem;
}

header li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header li .line {
    width: 0;
    height: 3px;
    background-color: orangered;
    transition: 250ms;
}

header li:hover .line {
    width: 100%;
}

main.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    place-items: center;
    gap: 2rem;
}

section.item {
    background-color: #DDD;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
    transition: transform 250ms;
}

section.item:hover {
    transform: scale(1.08);
}

section.item .info {
    display: flex;
    place-content: space-between;
    place-items: center;
}

section.item img {
    width: 20rem;
    height: 20rem;
}

section.item .price {
    color: orangered;
    font-size: 1.4rem;
    font-weight: bold;
}

.search-section {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.search-section button {
    border-radius: 100%;
    font-size: 2rem;
    color: white;
    background-color: #222;
    border: none;
    cursor: pointer;
}

.search-section div {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.search-section div img {
    transition: filter 250ms, border 250ms;
    border-radius: 100%;
    border: 0px solid salmon;
}

.search-section img:hover {
    filter: brightness(150%);
    border: 3px solid salmon;
}

.search-section div h3 {
    color: #555;
    font-weight: bold;
}

.pagination-section {
    display: flex;
    place-content: space-between;
    place-items: space-between;
    width: 80%;
}

.pagination-section div {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.pagination-section button {
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
}


footer {
    background-color: #222;
    color: white;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 5rem;
}

footer h2 {
    color: orangered;
    font-size: 2.8rem;
}

footer main {
    display: flex;
    place-content: center;
    place-items: start;
    gap: 2rem;
    padding: 4rem 0 0 0;
}

footer main .icons-container {
    display: flex;
    place-content: start;
    gap: 1rem;
}

footer main .icons-container .icon {
    background-position: center;
    background-size: cover;
    width: 3rem;
    aspect-ratio: 1;
}

footer main .icons-container img {
    border-radius: 100%;
    width: 3rem;
    aspect-ratio: 1;
}

footer main>section:not(:first-child) {
    width: 20%;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer main section:last-child {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer main>section:first-child {
    width: 35%;
}

footer section li {
    list-style-type: none;
}

footer section a {
    text-decoration: none;
    color: white;
}

footer h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer .line {
    width: 100%;
    background-color: white;
    height: 1px;
}

footer>section {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}